meta-data:
  instance-id: basic-vm-ssh-key
  local-hostname: basic-vm-ssh-key

img_source: "https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-generic-amd64.qcow2"
redownload_img: false
disk_size: "20G"
ram: "1024"
vcpus: "1"
os_variant: "debian12"

network-config:
  version: 2
  ethernets:
    enp1s0:
      network: "default"
      dhcp4: true

user-data:
  users:
    - name: admin
      ssh_authorized_keys:
        # Replace with your SSH public key (find it in ~/.ssh/id_ed25519.pub or ~/.ssh/id_rsa.pub)
        - ssh-ed25519 YOUR_PUBLIC_KEY_HERE user@hostname
      groups: sudo
      shell: /bin/bash
      sudo:
        - "ALL=(ALL) ALL"
      lock_passwd: false
      passwd: false

  packages:
    - qemu-guest-agent

  runcmd:
    - echo "\e[1;4;34mStarting qemu-guest-agent...\e[0m"
    - systemctl start qemu-guest-agent
    - echo "\e[1;4;32mFinished starting qemu-guest-agent.\e[0m"
